<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | this is a mofo app</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <%= yield %>
  </div>
    <embed class="steam" src="//player.vimeo.com/video/25056266?byline=0&amp;portrait=0&amp;autoplay=1"
    width="640" height="385" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
  </embed>
  <%= render 'layouts/footer' %>
</body>
</html>
